body{
    background-color:#a9bfeb;
}

h2{
    color: ;
}

.container {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .info-box{
      text-align: center;
  }

  .mygallery{
      width:90%;
      margin:auto;
  }